!xterm*renderFont: true
!xterm*faceName: Inconsolata
!xterm*faceSize: 12
xterm*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
xterm*borderWidth: 0
xterm*loginShell: true
xterm*saveLines: 10000
xterm*boldMode: false
xterm*fullscreen: never
xterm*metaSendsEscape: true
xterm*omitTranslation: fullscreen
xterm*foreground: lightgray
xterm*cursorColor: green
xterm*background: black
